*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: monospace;
    display: flex;
    min-height: 100vh;
}

.container{
    width: 90%;
    max-width: 900px;
    height: 100%;
    overflow: hidden;
    background-color: rgb(22, 32, 126);
    margin: auto;
    position: relative;
    
    border: 5px solid white;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;

}

    .sliderSection{
        width: 100%;
        
    }

    .sliderImg{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.botones{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    top: 50%;
    transform: traslateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.botones:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: aliceblue;
}

#derecha{
    right: 10px;
}

#izquierda{
    left: 10px;
}

